.post-list-container {
  a {
    cursor: pointer;
  }

  .post {
    margin-bottom: 2em;
  }

  .post:nth-of-type(1) {
    margin-top: 1em;
  }

  ul.tags {
    list-style-type: none;
    display: inline;
  }

  .preview {
    h1 {
      font-size: 18px;
    }
    padding-bottom: 1em;
  }

  hr.fancy-line { 
    border: 0; 
    height: 1px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

body, hr.fancy-line:after {
    background: #f4f4f4;
}}
