.post-list-container {
  a {
    cursor: pointer;
  }

  .post {
    margin-bottom: 2em;
  }

  .active {
    color: red;
  }

  .post:nth-of-type(1) {
    margin-top: 1em;
  }

  ul.tags {
    list-style-type: none;
    display: inline;
  }

  .preview {
    h1 {
      font-size: 18px;
    }
    padding-bottom: 1em;
  }

}
