.row
  .span4
    .left-menu
      .date-sidenav(ng-include="'blog/date-sidenav.html'")
      
      h3 Selected Tags:
      ul.selected-tag
        li(ng-repeat='tag in filter.tags') {{tag}}
      div(ng-show="filter.tags.length === 0")
        | None

      h3 Selected Category
      .selected-category {{filter.category || "None"}}

      .reset-filters
        a.btn.btn-info(ng-click='resetFilters()') reset filters

  .span8
    ul.categories.nav.nav-pills
      li.category(ng-repeat='category in categories', ng-click="categorySelected(category)", ng-class="{disabled: metadata.categories.indexOf(category) < 0, active: metadata.categories.indexOf(category) > -1}")
        a {{category}}

    hr

    .post-list-container(
        infinite-scroll="loadMorePosts()",
        infinite-scroll-disabled="busy",
        infinite-scroll-distance='1')
      .post-list(mark-center-element="active", item-selector=".post")
        .post.well(ng-repeat='post in posts', watch-class="active", on-class-added="postActivated(post)")
          h1.title
            a(ng-click='postSelected(post.slug)') {{post.title}}

          span.date
            | &nbsp;{{post.date | date: 'MMM d yyyy'}}

          .preview(blog-post-preview="post.preview", read-more="postSelected(post.slug)")

          hr.fancy-line

          ul.tags
            li.btn.btn-info(ng-repeat='tag in post.tags', ng-click="tagSelected(tag)") {{tag}}
