.post-list-container
  .post-list(ng-repeat='post in posts')
    .post.well
      h1.title
        a(ng-click='postSelected(post.slug)') {{post.title}}
      span.date
        | &nbsp;{{post.date | date: 'MMM d yyyy'}}
      .preview(blog-post-preview, preview-content="post.preview", on-read-more-clicked="postSelected(post.slug)")

      hr.fancy-line

      ul.tags(ng-repeat='tag in post.tags')
        li(class="btn btn-info", ng-click="tagSelected(tag)") {{tag}}
