div.post
  h1
    a(href="{{url}}") {{data.title}}
  span.date {{data.date | date: 'MMM d yyyy'}}
  .post.content(ng-bind-html="content")
  .comments(disqus="data.id")

.back
  a.btn(ng-click='showAll()') Back to all posts
